
/* CSS */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.error-box {
  /* Basic styling */
  width: 150px;
  height: 70px;
  background-color: #ffe6e6;  /* Slightly Red background */
  color: rgb(250, 56, 56);             /* Red text */
  padding: 10px 20px;      /* Padding around the text */
  border: 2px solid rgb(250, 56, 56);
  border-radius: 9px;      /* Rounded corners */
  margin: 10px;            /* Add some space around the box */

  /* Font styling (optional) */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;  /* Use a sans-serif font */
  text-align: center;       /* Center the text */
  font-size: larger;
}

.not-found-box{
  /* Basic styling */
  width: 150px;
  height: 70px;
  background-color: #e6f0ff;  /* Slightly Red background */
  color: rgb(56, 134, 250);             /* Red text */
  padding: 10px 20px;      /* Padding around the text */
  border: 2px solid rgb(56, 134, 250);
  border-radius: 9px;      /* Rounded corners */
  margin: 10px;            /* Add some space around the box */

  /* Font styling (optional) */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;  /* Use a sans-serif font */
  text-align: center;       /* Center the text */
  font-size: larger;
}

.users-box{
  /* Basic styling */
  width: 150px;
  height: 70px;
  background-color: #e6f0ff;  /* Slightly Red background */
  color: rgb(56, 134, 250);             /* Red text */
  padding: 10px 20px;      /* Padding around the text */
  border: 2px solid rgb(56, 134, 250);
  border-radius: 9px;      /* Rounded corners */
  margin: 10px;            /* Add some space around the box */

  /* Font styling (optional) */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;  /* Use a sans-serif font */
  text-align: center;       /* Center the text */
  font-size: larger;
}

.revenue-box{
  /* Basic styling */
  width: 150px;
  height: 70px;
  background-color: #f7e6ff;  /* Slightly Red background */
  color: rgb(139, 46, 201);             /* Red text */
  padding: 10px 20px;      /* Padding around the text */
  border: 2px solid rgb(139, 46, 201);
  border-radius: 9px;      /* Rounded corners */
  margin: 10px;            /* Add some space around the box */

  /* Font styling (optional) */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;  /* Use a sans-serif font */
  text-align: center;       /* Center the text */
  font-size: larger;
}